<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\workgame\GameRoom\simulator\win32\GameRoom.exe</StartProgram>
    <StartArguments>-workdir D:\workgame\GameRoom</StartArguments>
    <StartWorkingDirectory>D:\workgame\GameRoom</StartWorkingDirectory>
  </propertyGroup>
</Project>